<br/>

<p>Bienvenue sur cette application.
   Ici, vous avez la possibiliter de consulter les différents capteurs tout en les modifiants ou les supprimants. Et elle comporte un formulaire, permettant l'ajout de nouveau capteur.
</p>

<br/>

<p>Que voulez vous faire ?</p>

<br/>

<nav>
  <a routerLink="/consultation"> <button type="button" class="btn btn-primary btn-sm">Consultation</button> </a>
  <a routerLink="/formulaire"> <button type="button" class="btn btn-primary btn-sm">Formulaire</button> </a>
</nav>
