
<br>

<div style="text-align:center"> </div>
 
    <!-- Déclaration du conteneur de la carte avec l'id "frugalmap" -->
    <div id="frugalmap">  </div>


    <br>

<div class="image">
   
</div>






<!-- fonctionne

<label for="singleFile"> </label>
<input id="singleFile" type="file" [fileUploadInputFor]= "fileUploadQueue"/
<img [src]="imageUrl" style="width:110px; height:100px; margin-left:13%">
<input type="file" #Image accept="image/*" (change)="handleFileInput($event.target.files)">
-->

<!-- non fonctionnel -->

<!--
<mat-file-upload-queue #fileUploadQueue
	[fileAlias]="'file'"
    [httpUrl]="'http://localhost:8180/jax-rs-jersey-application-sample'">
 
    <mat-file-upload [file]="file" [id]="i" *ngFor="let file of fileUploadQueue.files; let i = index"></mat-file-upload>
</mat-file-upload-queue>
-->


<div class="rajouter"> 
	<label>
		<input type="text" [(ngModel)]="nv_capteur.nom" placeholder="nom :" />
	</label>

<br>
<br>
	<label>
		<input type="text" [(ngModel)]="nv_capteur.version" placeholder="version :"/>
	</label> 
<br>
<br>
	
	<label>
		<input id="latitude" type="number" [(ngModel)]="nv_capteur.latitude" placeholder="latitude :"/>
	</label>
	
	<label>
		<input id="longitude" type="number" [(ngModel)]="nv_capteur.longitude" placeholder="longitude :"/>
	</label>

	<br>
	<br>

  <a routerLink="/accueil"> <button class="btn btn-info"><mat-icon>replay</mat-icon></button> </a>
  <a routerLink="/consultation"> <button class="btn btn-success" (click)="ajouter()"><mat-icon>check</mat-icon> </button> </a>

</div>
<br/>

<label for="singleFile">Upload file</label>
<input id="singleFile" type="file" [fileUploadInputFor]= "fileUploadQueue"/>
<br>
 

 
<div id="app">
    <a class="btn" @click="toggleShow">set avatar</a>
    <my-upload field="img"
        @crop-success="cropSuccess"
        @crop-upload-success="cropUploadSuccess"
        @crop-upload-fail="cropUploadFail"
        v-model="show"
        :width="300"
        :height="300"
        url="/upload"
        :params="params"
        :headers="headers"
        img-format="png"></my-upload>
    <img :src="imgDataUrl">
</div>
 
<script>
    import 'babel-polyfill'; // es6 shim
    import Vue from 'vue';
    import myUpload from 'vue-image-crop-upload';
 
    new Vue({
        el: '#app',
        data: {
            show: true,
            params: {
                token: '123456798',
                name: 'avatar'
            },
            headers: {
                smail: '*_~'
            },
            imgDataUrl: '' // the datebase64 url of created image
        },
        components: {
            'my-upload': myUpload
        },
        methods: {
            toggleShow() {
                this.show = !this.show;
            },
            /**
             * crop success
             *
             * [param] imgDataUrl
             * [param] field
             */
            cropSuccess(imgDataUrl, field){
                console.log('-------- crop success --------');
                this.imgDataUrl = imgDataUrl;
            },
            /**
             * upload success
             *
             * [param] jsonData  server api return data, already json encode
             * [param] field
             */
            cropUploadSuccess(jsonData, field){
                console.log('-------- upload success --------');
                console.log(jsonData);
                console.log('field: ' + field);
            },
            /**
             * upload fail
             *
             * [param] status    server api return error status, like 500
             * [param] field
             */
            cropUploadFail(status, field){
                console.log('-------- upload fail --------');
                console.log(status);
                console.log('field: ' + field);
            }
        }
    });
</script>
