label {
  display: inline-table;
  margin-left: 1em;

}

.image {
  position: absolute;
  right: 350px;
  width: 50px;
  height: 150px;
  top: 367px
}

#frugalmap {
    height: 300px;
    width: 70%;
    margin-left:15%; 
  	margin-right:15%;
}

a {
  margin-left: 2em;
}