label {
  display: inline-table;
  margin-left: 1em;

}

.image {
  position: absolute;
  right: 430px;
  width: 150px;
  height: 120px;
}

#frugalmap {
    height: 300px;
    width: 70%;
    margin-left:15%; 
  	margin-right:15%;
}